<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Inicial



{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>

<p> 
    No meu tempo livre, o que eu mais gosto é de relaxar e não fazer nada demais. Adoro deitar no sofá para assistir a uma série, ver um filme ou ficar rolando o feed das redes sociais para passar o tempo. Quando estou a fim de fazer algo diferente, invento uma receita na cozinha, leio um pouco ou saio para caminhar e respirar um ar fresco.
</p>
<p>
    Para mim, o final de semana perfeito envolve estar com as pessoas que eu gosto. Amo marcar um churrasco com a família, tomar um café com os amigos ou só sentar para jogar conversa fora. Claro que viajar nas férias é ótimo, mas também curto muito ficar em casa descansando e recarregando as energias para a semana.
</p>

{% endblock %}