<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Expectativas de Vida



{% endblock %}

{% block content %}
<h1>Expectativas de Vida</h1>

<p> 
    A minha expectativa é viver uma vida longa, saudável e tranquila, aproveitando ao máximo cada fase do caminho. Quero envelhecer com saúde para continuar curtindo as pequenas coisas, ver as pessoas que amo crescerem e realizar meus planos sem pressa. No fim das contas, meu maior desejo é olhar para trás no futuro e sentir orgulho da história que construí, sabendo que aproveitei bem o meu tempo.
</p>

{% endblock %}